@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

body {
  background: #fff;
  background-repeat: repeat-y;
  background-size: contain;
}

/* Navigation Bar */

.navbar {
  background-color: #424874;
  max-height: 57px;
}

.navbar .icon-logo {
  min-width: 100px;
}

.navbar .logo {
  width: 100px;
}

.navbar-nav {
  margin-top: 5px;
  max-height: 36px;
}

.nav-item {
  margin-right: 24px;
  font-weight: 400;
}

.nav-item .active {
  border-bottom: #fff 2px solid;
}

.nav-item a {
  font-family: 'Poppins', Helvetica, serif;
  color: #fff;
  font-size: 14px;
}

.nav-item a.show {
  color: #fff;
}

.nav-item a:hover {
  font-family: 'Poppins', Helvetica, serif;
  color: #fff;
  font-size: 14px;
  border-bottom: #fff 2px solid;
}

.log-in a {
  border-radius: 10px;
}

.nav-item:not(:last-child) a:hover {
    color: #fff;
    font-size: 14px;
    border-bottom: #fff 2px solid;
    /* border-top: #fff 2px solid; */
}

.box-container {
  margin-top: 0px;
  position: relative;
  width: 200px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.element-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search {
  font-size: 18px;


  margin-left: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 0 0 5px;
  margin: -10px 0 0 5px;
  border-radius: 50px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

img {
  margin: -3px 8px 0 0;
}

@media (max-width: 767px) {
  .navbar-collapse
    {
        background: rgba(0, 0, 0, 0.6);
        padding: 0 0 10px 10px;
    }
}

.fa-bars {
  color: #fff !important;
}
/* End of Navbar */

/* Header */

.header {
  background: url(../assets/bg/Background-01.jpg);
  background-size: cover;
  margin: 60px 0 0 0;
  height: 60vh;
  background-color: transparent;
  max-width: 100vw;
}

.header .vector-below {
  position: absolute;
  bottom: 230px;
  z-index: 1;
}

.header .vector-above {
  position: absolute;
  right: -8px;
  top: 60px;
}

.header .header-text {
  background-color: transparent;
  height: 60vh;
}

.header .header-text .text {
  color: #424874;
  padding: 0 180px 0 0;
}

.header .header-text .text h1 {
  font-family: "Conthrax", Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 144px;
}

.header .header-text .text h4 {
  font-family: "Conthrax", Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 86px;
}

.header .header-text .text img {
  width: 450px;
}

.header .header-text .text p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.header .header-text .text button {
  padding: 8px 12px;
  background-color: #424874;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .header .header-text .text img {
    width: 250px;
  }
}

@media (max-width: 767px) {
  .header .header-text .text h4 {
    font-family: "Conthrax", Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 86px;
  }
}
/* End of Header */

/* Breadcrumb */
.breadcrumb {
  background-color: #424874;
}

.breadcrumb-item {
  background-color: transparent;
  margin: 0 0 0 0;
  padding: 12px 0;
  text-decoration: none;
  list-style: none
}

.breadcrumb-item a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
/* End of Breadcrumb */

/* Article */
.history .container .history-heading {
  border-style: none none solid none;
  width: 350px;
  color: #424874;
}

.history .history-body .history-body-text p {
  text-align: justify;
  margin-bottom: 60px;
}
/* End of Article */

/* Tugas/Fungsi */
.tugas-fungsi .container .tugas-fungsi-heading {
  border-style: none none solid none;
  width: 350px;
  color: #424874;
}

.tugas-fungsi .tugas-fungsi-body .tugas-body-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #424874;
}

.tugas-fungsi .tugas-fungsi-body .fungsi-body-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #424874;
}
/* End of Tugas/Fungsi */

/* Inforgrafis */
.infografis .infografis-heading {
  border-style: none none solid none;
  width: 400px;
  color: #424874;
}

.infografis .infografis-body .img-col {
  padding: 30px 0 30px 160px;
}

.infografis .infografis-body .text-col {
  padding: 30px 100px 30px 30px;
}

.infografis .infografis-body .img-col-alt {
  padding: 30px 160px 30px 0;
}

.infografis .infografis-body .text-col-alt {
  padding: 30px 30px 30px 160px;
}

.infografis .infografis-body .text-col p {
  font-size: 24px;
  font-weight: 600;
  line-height: 54px;
  color: #424874;
}

.infografis .infografis-body .text-col li {
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  color: #424874;
}

.infografis .infografis-body .text-col-alt p {
  font-size: 24px;
  font-weight: 600;
  line-height: 54px;
  color: #424874;
}

.infografis .infografis-body .text-col-alt li {
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  color: #424874;
}

.infografis .infografis-body .text-col span {
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  color: #424874;
}



/* End of Inforgrafis */

/* Profile */
.profile .container .profile-heading {
  border-style: none none solid none;
  width: 350px;
  color: #424874;
}

.profile .container .profile-body .history-body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}
/* End of Profile */

/* Contact */
.profile .profile-body {
  padding: 30px 20px;
  background-color: #F4EEFF;
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.profile .profile-body h5,
.profile .profile-body p
{
  color: #424874;
  font-weight: 600;
}
/* End of Contact */

/* Email */
.profile .email-us {
  padding: 60px 50px;
  background-color: #F4EEFF;
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.profile .container .profile-body  .form-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  color: #424874;
}

.profile .container .profile-body .form-input-box {
  padding: 0 10px;
  min-height: 36px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.profile .container .profile-body .form-input-textarea {
  min-height: 180px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.profile .profile-body  button {
  background-color: #A6B1E1;
  margin: 10px 0 0 0 ;
  padding: 0;
  border-radius: 20px;
}
/* End of Email */

/* Footer */
footer {
  background-color: #424874;
  /* border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 150px; */
}

footer h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

footer .footer-text {
  padding: 0 30px 0 0 ;
  text-align: justify;
}

footer .footer-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  text-justify: inter-word;
}

footer .social-item {
  margin: 0 0 10px 0;
}

footer .social-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  text-decoration: none;
  color: #fff;
}

footer .contact-item {
  margin: 0 0 10px 0;
}

footer .contact-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  text-decoration: none;
  color: #fff;
}

footer .sitemap-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  text-decoration: none;
  color: #fff;
}
/* End of footer */

/* Copyright */
.copyright {
  background-color: #262626;
}
/* End of Copyright */














