@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}

body {
    background: transparent;
}

/* Navigation Bar */

.navbar {
    background-color: #424874;
    max-height: 57px;
}

.navbar .icon-logo {
    min-width: 100px;
}

.navbar .logo {
    width: 100px;
}

.navbar-nav {
    margin-top: 5px;
}

.nav-item {
    margin-right: 24px;
    font-weight: 400;
}

.nav-item .active {
    border-bottom: #fff 2px solid;
    /* border-top: #fff 2px solid; */
}

.nav-item a {
    color: #fff;
    font-size: 14px;
}

.nav-item:not(:last-child) a:hover {
    color: #fff;
    font-size: 14px;
    border-bottom: #fff 2px solid;
    /* border-top: #fff 2px solid; */
}

.log-in a {
    border-radius: 10px;
    background-color: #a6b1e1;
}

.box-container {
    margin-top: 0px;
    position: relative;
    width: 200px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.element-container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 0 0 0 10px;
    margin: -10px 0 0 5px;
    border-radius: 50px;
}

.search-img {
    margin-right: 10px;
}

::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}

.fa-bars {
    color: #fff !important;
}

@media (max-width: 767px) {
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.6);
        padding: 0 0 10px 10px;
    }
}

@media (max-width: 767px) {
    .log-in a {
        border-radius: 10px;
        background-color: #a6b1e1;
        width: 64px;
    }
}

@media (max-width: 767px) {
    .box-container {
        margin-top: 10px;
        position: relative;
        width: 200px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50px;
    }
}

/* End of Navbar */

/* Header */

.header {
    background: url(../assets/bg/Background-01.jpg);
    background-size: cover;
    margin: 60px 0 0 0;
    height: 70vh;
    max-width: 100vw;
}

.header .vector-above {
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 1;
}

.header .vector-below {
    position: absolute;
    bottom: 140px;
    z-index: 1;
}

.header .header-text {
    background-color: transparent;
    height: 70vh;
}

.header .header-text .text {
    color: #424874;
    padding: 0 180px 0 0;
}

.header .header-text .text h4 {
    margin: 0;
    font-size: 26px;

    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.header .header-text .text img {
    margin: 0 0 10px -5px;
}

.header .header-text .text p {
    font-size: 16px;

    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    text-justify: inter-word;
}

.header .header-text .text button {
    padding: 8px 12px;
    background-color: #424874;
    border-radius: 30px;
}

@media (max-width: 767px) {
    .header .header-text .text {
        color: #424874;
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .header .vector-below {
        display: none;
    }
}
/* End of Header */

/* Statistic */

.statistic {
    background-color: #747dab;
}

.statistic .statistic-row {
    background-color: transparent;
}

.statistic .statistic-row .img-column {
    background-color: transparent;
    padding: 20px 10px 0 0;
}

.statistic .statistic-row .text-column {
    background-color: transparent;
    padding: 14px 0 0 0;
}
/* End of Statistic */

/* 2W Questions */

.TwoWQuestions .container {
    background-color: #dcd6f7;
    border-radius: 36px;
}

.TwoWQuestions .container .text-what,
.TwoWQuestions .container .text-why {
    color: #424874;
    padding: 60px;
}

.TwoWQuestions .container .text-what h4,
.TwoWQuestions .container .text-why h4 {
    font-size: 30px;

    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.TwoWQuestions .container .text-what p,
.TwoWQuestions .container .text-why p {
    font-size: 16px;

    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: justify;
}
/* End of 2W Questions */

/* Our-features */

.our-features {
    background-color: #747dab;
    /* max-height: 420px; */
    /* border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
    padding: 0 0 50px 0;
}

.our-features .our-features-header {
    padding: 40px 0 40px 0;
}

.our-features .our-features-cards .card {
    background-color: #fff;
    border-radius: 14px;
}

.our-features .our-features-cards .card .card-body h5 {
    font-size: 20px;

    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #424874;
}

.our-features .our-features-cards .card .card-body a {
    font-size: 16px;

    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #747dab;
}

.our-features .our-features-cards .card .card-body span {
    padding: 10px 0 0 0;
}
/* End of Our-features */

/* FAQ */

.faq-dropdown {
    background-color: #dcd6f7;
    margin: 60px 0 0 0;
    height: 426px;
}

.faq-dropdown .container {
    padding: 50px 30px 30px 30px;
}

.faq-dropdown .container img {
    margin: 0;
}
* .faq-dropdown .container .question-col {
    padding: 0 0 0 20px;
    margin: -20px 0 0 0;
}

.faq-dropdown .container .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #424874;
}

.accordion .accordion-item button {
    background-color: #dcd6f7;
    border-bottom: #262626 solid 1px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    color: #424874;
    padding: 14px 0;
}

.accordion .accordion-item .accordion-body {
    background-color: #dcd6f7;
    color: #424874;
}

@media (max-width: 767px) {
    .faq-dropdown {
        background-color: #dcd6f7;
        margin: 60px 0 0 0;
        height: fit-content;
    }
}

/* End of FAQ */

/* Tagline */

.tagline {
    background-color: #747dab;
}

.tagline .container {
    padding: 10px;
}

.tagline .container h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
}

.tagline .container h3 a {
    font-size: 22px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
    color: #dcd6f7;
}
/* End of Tagline */

/* Testimonial */

.testimonial-article .container .testimonial-heading {
    border-style: none none solid none;
    width: 350px;
    color: #424874;
}

.testimonial-article .container .testimonial-heading h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #424874;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.testimonial-article .container .swiper {
    background-color: transparent;
    padding: 20px 0;
}

.testimonial-article .container .swiper .swiper-wrapper .card {
    width: 500px;
    background-color: #f4eeff;
    box-shadow: 0px 0px 40px 0px #00000040;
    border-radius: 15px;
}

.testimonial-article .container .swiper .swiper-wrapper .card .card-img img {
    border-radius: 50%;
    width: 90px;
}

.testimonial-article .container .swiper .swiper-wrapper .card .card-body p {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #424874;
}

.testimonial-article .container .swiper .swiper-wrapper .card .card-body h5 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #424874;
}

.testimonial-article .container .testimonial-cards .card {
    background-color: #f4eeff;
    box-shadow: 0px 0px 40px 0px #00000040;
    border-radius: 15px;
}

.testimonial-article .container .testimonial-cards .card .card-img img {
    border-radius: 100%;
}

.testimonial-article .container .testimonial-cards .card .card-body p {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #424874;
}

.testimonial-article .container .testimonial-cards .card .card-body h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #424874;
}

@media (max-width: 767px) {
    .testimonial-article .container .swiper {
        background-color: transparent;
        padding: 20px 0 40px 30px;
    }
}

@media (max-width: 767px) {
    .testimonial-article .container .swiper .swiper-wrapper .card {
        background-color: #f4eeff;
        box-shadow: 0px 0px 40px 0px #00000040;
        border-radius: 15px;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .testimonial-article .container .swiper .swiper-wrapper .card .card-body p {
        font-size: 12px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #424874;
    }
}

@media (max-width: 767px) {
    .testimonial-article
        .container
        .swiper
        .swiper-wrapper
        .card
        .card-body
        h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #424874;
    }
}
/* End of Testimonial */

/* Article */

.article .container .article-heading {
    border-style: none none solid none;
    width: 350px;
    color: #424874;
}

.article .container .slider {
    background-color: transparent;
    padding: 20px 0;
}

.article .container .article-heading h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #424874;
}

.article .container .article-cards .card {
    background-color: #f4eeff;
    box-shadow: 0px 4px 15px 0px #00000040;
    border-radius: 12px;
}

.article .container .article-cards .card .card-img img {
    border-radius: 100%;
}

.article .container .article-cards .card .card-body .card-date {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #5a5a5a;
}

.article .container .article-cards .card .card-body .card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
}

.article .container .article-cards .card .card-body .card-act a {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #747dab;
}

.article .container .article-cards .card .card-body .card-act h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0 0 0;
}

.prev-arrow {
    background-color: #747dab;
    position: absolute;
    bottom: 170px;
    left: 1%;
    color: #fff;
    width: 40px;
    height: 80px;
    border-radius: 12px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    z-index: 1;
}

.next-arrow {
    background-color: #747dab;
    position: absolute;
    bottom: 170px;
    right: 1%;
    color: #fff;
    width: 40px;
    height: 80px;
    border-radius: 12px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
}
/* End of Article */

/* Footer */
footer {
    background-color: #424874;
}

footer h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

footer .footer-text {
    padding: 0 30px 0 0;
    text-align: justify;
}

footer .footer-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    text-justify: inter-word;
}

footer .footer-text a {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}

footer .social-item {
    margin: 0 0 10px 0;
}

footer .social-item a {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    text-decoration: none;
    color: #fff;
}

footer .contact-item {
    margin: 0 0 10px 0;
}

footer .contact-item a {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    text-decoration: none;
    color: #fff;
}
/* End of footer */

/* Copyright */
.copyright {
    background-color: #262626;
}
/* End of Copyright */

.scale-up {
    transform: scale(1);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out !important;
}
.scale-up:hover {
    transform: scale(1.01) !important;
    box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.2);
}
